<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;initial catalog=SmartHotel360Registration;Integrated Security=True;Connect Timeout=30;" providerName="System.Data.SqlClient" />
		<!--<add name="DefaultConnection" connectionString="Data Source=MARAT-PC55\SQLEXPRESS;Initial Catalog=SmartHotel360Registration;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="KeyVaultUrl" value="https://kvmm.vault.azure.net/" />
		<add key="DomainName" value="mydomain"/>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<customErrors mode="Off" />
		<httpRuntime targetFramework="4.6.1" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpEndpointBinding">
					<security mode="Message">
						<message clientCredentialType="Certificate" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<!-- Enable metadata publishing. -->
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceCredentials>
						<clientCertificate>
							<authentication certificateValidationMode="Custom"
						 customCertificateValidatorType="SmartHotel.Registration.Wcf.CustomCertificateValidator, SmartHotel.Registration.Wcf" />
						</clientCertificate>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="SmartHotel.Registration.Wcf.Service" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding" contract="SmartHotel.Registration.Wcf.IService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<serviceHostingEnvironment>
			<serviceActivations>
				<add factory="SmartHotel.Registration.Wcf.CustomServiceHostFactory"
					 relativeAddress="./Service.svc" 
					 service="SmartHotel.Registration.Wcf.Service" />
			</serviceActivations>
		</serviceHostingEnvironment>
		
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WcfTraceLog.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>